{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="card" style="width: 18rem;">
      <img src="/media/{{ object.image }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ object.name }}</h5>
        <p class="card-text">
                {{ object.short_desc }}<br />
                {{ object.description }}<br />
                Цена: {{ object.price }}<br />
        </p>
        <a href="{% url 'admin_staff:categories' %}" class="btn btn-primary">Назад</a>
      </div>
    </div>
{% endblock %}